<%= form_for(@recepi) do |f| %>
  <% if @recepi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recepi.errors.count, "error") %> prohibited this recepi from being saved:</h2>

      <ul>
      <% @recepi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_field :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
