<h1>Listing recepis</h1>

<table>
  <thead>
    <tr>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recepis.each do |recepi| %>
      <tr>
        <td><%= recepi.memo %></td>
        <td><%= link_to 'Show', recepi %></td>
        <td><%= link_to 'Edit', edit_recepi_path(recepi) %></td>
        <td><%= link_to 'Destroy', recepi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recepi', new_recepi_path %>
