<p id="notice"><%= notice %></p>

<h1><%= @house_work.name %></h1>

<p>
  <%= link_to 'レシピ' , @house_work.recipe %>
</p>

<% date = Date.today %>
<%= date.strftime('%Y/%m') %>

<table border=2>
  <tr>
    <th>実施者</th>
    <% date.beginning_of_month.upto(date.end_of_month) do |day| %>
      <th><%= day.strftime('%d') %></th>
    <% end %>
  </tr>

  <% User.all.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <% date = Date.today %>
      <% date.beginning_of_month.upto(date.end_of_month) do |day| %>
        <td>
          <% WorkLog.where(user: user, completed: day, house_work_id: @house_work).each do |worklog|%>
            <%= link_to worklog.time_result, worklog %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_house_work_path(@house_work) %> |
<%= link_to 'Back', house_works_path %>
