<h1>実施結果一覧</h1>

<table>
  <thead>
    <tr>
      <th>実施者</th>
      <th>所要時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_logs.each do |work_log| %>
      <tr>
        <td><%= link_to work_log.user.name, work_log.user %></td>
        <td><%= work_log.time_result %></td>
        <td><%= link_to '詳細', work_log %></td>
        <td><%= link_to '編集', edit_work_log_path(work_log) %></td>
        <td><%= link_to '削除', work_log, method: :delete, data: { confirm: '本当に削除しましすか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '作業記録追加', new_work_log_path %>
