<p id="notice"><%= notice %></p>

<p>
  <strong>実施者:</strong>
  <%= link_to @work_log.user.name, @work_log.user %>
</p>

<p>
  <strong>完了日:</strong>
  <%= @work_log.completed %>
</p>

<p>
  <strong>作業時間(分):</strong>
  <%= @work_log.time_result %>
</p>

<p>
  <strong>メモ:</strong>
  <%= simple_format(@work_log.memo) %>
</p>

<%= link_to '修正', edit_work_log_path(@work_log) %> |
<%= link_to '戻る', work_logs_path %>
